<nav class="bg-black bg-opacity-30 px-9">
    <container class="h-20 container max-w-7xl mx-auto flex justify-between items-center">

        <a class="max-w-0 lg:max-w-full hidden lg:block heading text-4xl color-gold font-black" href="/">{{ site.title
            }}</a>
        {% for nav in site.data.navigation %}
        <a class="color-white paragraph underline" href="{% if nav.link %}{{ nav.link }}{% else %}#{% endif %}">{{
            nav.title }}</a>
        {% endfor %}
    </container>
</nav>