<nav class="bg-black bg-opacity-30">
    <container class="h-24 container max-w-7xl mx-auto flex justify-between items-center md:p-0 p-3">

        <a class="max-w-0 md:max-w-full hidden md:block play text-4xl color-gold font-black" href="/">Savage
            Wars
            Hammer Worlds</a>
        <a class="color-white play underline" href="/">Главная</a>
        <a class="color-white play underline" href="/crew">Свита</a>
        <a class="color-white play underline" href="/rules">Правила</a>
        <a class="color-white play underline" href="#">Опыт</a>
        <a class="color-white play underline" href="#">Карта</a>
    </container>
</nav>