body {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48c3R5bGU+cGF0aCB7IGZpbGw6IG5vbmU7IHN0cm9rZTogcmdiYSgwLDAsMCwwLjI1KTsgc3Ryb2tlLXdpZHRoOiAzLjAxcHg7IHN0cm9rZS1saW5lY2FwOiByb3VuZDsgc3Ryb2tlLWxpbmVqb2luOiByb3VuZDsgfTwvc3R5bGU+PHBhdGggZD0iTTQxNiAxOTJMMjU2IDMyMCA5NiAxOTIgMjU2IDY0bDE2MCAxMjh6TTk2LTY0TDI1NiA2NCA0MTYtNjRtMCA2NDBWNDQ4TDI1NiA1NzZtMCAwTDk2IDQ0OHYxMjhtNDE2LTM4NUwzNTIgMzIwbDE2MCAxMjguM0w2NzIgMzIwIDM1MiA2NGwzMjAtMjU2TTUxMiAxOTFMNjcyIDY0IDM1Mi0xOTJtLTE5MiAwTC0xNjAgNjRsMzIwIDI1NkwwIDQ0OC4zbTAgMEwtMTYwIDMyMCAxNjAgNjRsLTMyMC0yNTZtNTc2IDY0MEwyNTYgMzIwIDk2IDQ0OG0wLTUxMnY3Ni44TTQxNi02NHY3Ni44TTM1MiA2NHY3Ni44TTE2MCA2NHY3Ni44TTk2IDE5MnY3Ni44TTQxNiAxOTJsLS41IDc2LjhNMzUyIDMyMHY3Ni44TTE2MCAzMjB2NzYuOG0wLTI4MS42bDE1LjggMTNtMTc2LjItMTNsLTE2LjIgMTNtMTYuMiAyNDNsLTE2LjIgMTNtLTE3NS44LTEzbDE2LjIgMTNtNDk1LjMgMTkxLjJsLTE2MC0xMjgtMTYwIDEyOG0tMTkyIDBsLTE2MC0xMjgtMTYwIDEyOCIgdmVjdG9yLWVmZmVjdD0ibm9uLXNjYWxpbmctc3Ryb2tlIi8+PC9zdmc+"),
    linear-gradient(63deg, #2d1313 0%, #131622 100%);
}

details>div {
  overflow: hidden;
  display: grid;
  /* intentionally independent from .animation as Safari 16
  would otherwise ignore the expansion animation. */
  animation-duration: 0.2s;
}

details>.animation {
  animation-name: grid-expand;
  animation-timing-function: ease-out;
}

details>.collapsing {
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

details>div>div {
  min-height: 0;
}

@keyframes grid-expand {
  0% {
    grid-template-rows: 0fr;
  }

  100% {
    grid-template-rows: 1fr;
  }
}

.playfair {
  font-family: "Playfair", serif;
  font-weight: 800;
  font-style: normal;
}

.play {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes slideFadeInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFadeInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animTransLeft {
  animation: 0.5s ease-out 0s 1 slideFadeInFromLeft;
}

.animTransTop {
  animation: 0.5s ease-out 0s 1 slideFadeInFromTop;
}

.animFadeIn {
  animation: 1s ease-out 0s 1 FadeIn;
}

.markdown p {
  margin-bottom: 0.5rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown hr {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.markdown li {
  list-style-type: disc;
  margin-left: 1rem;
}

.color-gold {
  color: #c74
}

.color-white {
  color: #ddd
}