---
layout: default
---

<div class="container mx-auto crew-grid max-w-7xl">
  {% assign no-photo = "/assets/img/no-photo.jpg" %} {% for person in site.crew
  %}
  {% if person.link == false %}
  <div {% else %} <a href="{{ person.url }}" target="_self" {% endif %}
    class="animScaleFadeIn rounded-xl p-6 bg-black bg-opacity-30">
    <h1 class="heading color-gold text-2xl font-semibold">{{ person.title }}</h1>
    <img class="w-full py-6" src="{{ person.profile-picture | no-photo }}" alt="profile picture" />

    {% for stat in person.stats %}
    {% if stat.card %}
    <div>
      <p class="paragraph inline color-white"><span class="color-gold">{{ stat.title }}:</span>&ensp;{{ stat.card }}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% if person.link == false %}
  </div>
  {% else %}
  </a>{% endif %}
  {% endfor %}
</div>