---
layout: default
---
<div class="container mx-auto flex justify-center gap-6">
    <div class="w-1/3 text-center flex flex-col justify-center gap-6">
        <img class="animPhoto z-1" src="/assets/img/air1.jpg" alt="">
        <p class="paragraph text-2xl color-white citate">"The endless dark of the universe is yours, if
            you but reach out to take it. Yield nothing -- the void respects only strength."<br>— Serren Travius, Rogue
            Trader
        </p>
    </div>

    <div class="w-1/3 text-center flex flex-col justify-center gap-6">
        <img class="w-full" src="/assets/img/logo.png" alt="">
        <h1 class="heading z-50 text-6xl color-gold">Эйер из Феквардов</h1>
        <div class="text-left z-50">
            <div>
                <p class="paragraph inline color-gold">Раса: </p>
                <p class="paragraph inline  color-white">Человек</p>
            </div>
            <div>
                <p class="paragraph inline color-gold">Пол(?): </p>
                <p class="paragraph inline  color-white">Мужской</p>
            </div>
            <div>
                <p class="paragraph inline color-gold">Возраст: </p>
                <p class="paragraph inline  color-white">123 года</p>
            </div>
            <div>
                <p class="paragraph inline color-gold">Рост: </p>
                <p class="paragraph inline  color-white">164 см</p>
            </div>
        </div>
        <img src="/assets/img/ship.webp" alt="">
    </div>
</div>
{{ content }}